.level_button {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 12px;
}
 .level_button button {
   
    border-radius: 21px;
    border: 1px solid var(--Violet, #6612ED);
    background: var(--Purple, #DAC7FA);
    color: var(--Violet, #6612ED);
    display: flex;
padding: 5px 12px 3px 12px;
justify-content: center;
align-items: center;
gap: 3px;
 }


