footer {
    display: flex;
    width: 1920px;
height: 295px;
flex-shrink: 0;
background: var(--Purple, #DAC7FA);
}

.logo {
    margin: 44px 0 0 396px;
    padding: 0;
}
.logo img {
    margin: 0;
}


.footer_nav {
    margin: 44px 413px 0 224px;
}

.footer_nav ul {
    padding: 0;
    margin: 0;
}

.footer_nav li {
    list-style-type: none;
    font-family: Comfortaa;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px;
}

.footer_names {
    margin-top: 44px;
}

h4 {
    margin: 0;
    font-family: Comfortaa;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px;
}