@font-face {
  font-family: 'Comfortaa';
  src: url(../fonts/Comfortaa-Regular.ttf) format('ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Comfortaa';
  src: url(../fonts/Comfortaa-Regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Comfortaa';
  src: url(../fonts/Comfortaa-SemiBold.ttf) format('ttf');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Comfortaa';
  src: url(../fonts/Comfortaa-SemiBold.woff) format('woff');
  font-style: normal;
  font-weight: 600;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  min-height: 100vh; 
  background-color: #fff; 
  color: black;
  font-size: 14px;
  overflow: hidden;
  font-family: 'Comfortaa';
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-content {
  display: flex;
}

.movie-details {
  flex: 1;
}

/* Header */

.header {
  max-height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  margin-bottom: 55px;
}

.header__logo:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}

.header__logo {
  margin-top: 0;
  padding: 12px;
  align-items: center;
}

.header__center input {
  color: black;
  width: 260px;
  padding: 5px;
  border-radius: 20px;
  border:2px solid #6612ED;
  background-color: transparent;
  padding-left: 25px; 
}

.header__center input:focus {
  outline: none;
}

.header__center input::placeholder {
  color: #6612ED;
}

.search-container {
  position: relative;
}

.search-wrapper {
  position: relative;
}

.header__center input:focus + .search-results,
.search-results:hover {
  display: block;
}

.search-results {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__center img {
  position: absolute;
  top: 50%;
  left: 10px; 
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.header__right a {
  color: black;
  text-decoration: none;
  margin-left: 4px;
  padding: 1px 12px;
  text-align: center;
}

.header__right a:hover {
  background-color: #DAC7FA;
  border: 1px solid #6612ED;
  border-radius: 12px;
  color: #6612ED;
}

.header__right a:focus {
  background-color: #6612ED;
  border: 1px solid #6612ED;
  border-radius: 12px;
  color: #fff;
}

/* Sidebar */

.sidebar {
  width: 264px;
  background-color: #f0f0f0;
  padding: 4px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 12px;
}

.sidebar h1 {
  font-size: 28px;
  font-weight: 400;
  padding: 8px;
  margin: 0;
  margin-bottom: 12px;
}

.sidebar a:hover {
  color: black;
}

.movie-card-link {
  text-decoration: none;
  color: black;
}

.movie-card {
  width: 256px;
  height: 126px;
  align-items: flex-start;
  gap: 8px;
  display: flex;
  border: 2px solid transparent; 
  border-radius: 12px;
  transition: box-shadow 0.3s ease-in-out;
}

.movie-card:hover {
  box-shadow: 0 14px 28px gray;
  transform: scale(1.02);
}

.movie-card-left img {
  width: 88px;
  height: 126px;
  border-radius: 12px;
}

.movie-card-right-info p {
  background: var(--Purple, #DAC7FA);
  border-radius: 16px;
  padding: 1px 8px;
  margin-top: 8px;
}

.movie-card-right-info {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  gap: 10px;
  flex: 1;
  flex-direction: row; 
  align-items: center;
  box-sizing: border-box;
}

.movie-card h2 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.error {
  color: red;
  font-size: 16px;
}

.line {
  display: inline-block;
  width: 240px;
  outline: #DAC7FA solid 1px;
  margin-bottom: 12px;
  margin-top: 12px;
}


/* MoviesPage */

.movies-page {
  margin: 0 24px;
}

.movies-page h1 {
  padding: 4px 8px;
  margin: 0;
}

.movies-row {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-top: 24px;
}

.movie-page-card {
  width: 120px;
  padding-bottom: 6px;
  height: 244px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid transparent; 
  border-radius: 12px;
  transition: box-shadow 0.3s ease-in-out;
}

.movie-page-card:hover {
  box-shadow: 0 14px 28px gray;
  transform: scale(1.02);
}

.movie-card-top {
  height: 200px;
}

.movie-card-top img {
  width: 120px;
  height: 170px;
  border-radius: 12px;
  object-fit: cover;
}

.movie-card-bottom {
  padding: 16px;
  text-align: center;
}

.movie-card-top {
  height: 200px; 
}

.movie-card-top img {
  width: 120px;
  height: 170px;
  object-fit: cover;
}

.movie-card-bottom {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.movie-card-bottom h2 {
  text-align: start;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}



/* About Team */

.about-team-container {
  margin: 0 auto;
}

.about-team {
  margin: 5px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-card {
  max-height: 620px;
  width: 200px;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
}

.team-card img {
  max-width: 100%;
  height: 195px;
}

.team-card h2 {
  margin: 10px 0;
  height: 32px;
  font-size: 18px;

}

.social-links a {
  margin-right: 10px;
}

/* About Project */

.about-project-container{
  margin: 0 auto;
}

.about-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-project-block {
  display: flex;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.about-project-block:nth-child(even) {
  flex-direction: row-reverse;
}

.about-project-image {
  flex: 1;
  margin-right: 20px;
  max-width: 50%;
}

.about-project-image img {
  max-width: 100%;
  height: auto;
}

.about-project-text {
  text-align: start;
  flex: 1;
}

.about-project-text p {
  font-size: 16px;
}


/* Add Movie */

.addmovie__container {
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  margin-top: 44px;
}

.addmovie__info {
  text-align: left;
  margin-left: 4px;
}

.addmovie__info h1 {
  font-weight: 400;
  margin-bottom: 10px;
}

.addmovie__info h2 {
  margin: 0;
  font-weight: 300;
}

.form__container {
  margin-right: 150px;
  margin-left: 150px;
  padding: 36px 20px 24px 20px;
}

.form__container button {
  background-color: #6612ED;
  border-radius: 12px;
  color: #fff;
  border: transparent;
  margin: 0;
}

.forms {
  display: flex;
  flex-direction: column;
}

.forms input {
  width: 260px;
  color: #6612ED;
  width: 260px;
  padding: 5px;
  border-radius: 20px;
  border:2px solid #6612ED;
  background-color: transparent;
  padding-left: 8px; 
  margin-bottom: 12px;
}

.forms input::placeholder {
  color: #6612ED;
}





